* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.c-item {
    height:30em;
}
.c-img {
    height: 100%;
    object-fit:cover;
    filter: brightness(0.6);
}
.navbar-brand {
    font-family: 'Red Hat Display', sans-serif;
    font-size:24px;
}
.nav-link {
    font-family: 'Dosis', sans-serif;
    font-size:17px;
    font-weight:bold;
}
/* carousel */
.benji-caro {
    font-family: 'Red Hat Display', sans-serif;
}
.auto-caro {
    font-family: 'Dosis', sans-serif;
}
/*who*/
.who {
    background-image: url(imgs/who-benji.jpg);
    /*“Archives.” White House Paintings: Benjamin Franklin by David Martin (1767) | JFK Library, www.jfklibrary.org/asset-viewer/archives/JFKWHP/1962/Month%2003/Day%2009/JFKWHP-1962-03-09-E. Accessed 3 Dec. 2023.*/
    transition: 0.5s;
    box-shadow:5px 5px 5px darkslategrey;
    background-size:cover;
    background-position:center center;
}
.who .question {
    font-family: 'Red Hat Display', sans-serif;
    transition: 0.5s;
}
.who:hover .question {
    transition:0.5s;
    transform: scale(1.2);
}
/*early*/
.early {
    background-image: url(imgs/kid-bj.jpg);
    /*Benton, Michael. “Benjamin Franklin.” Benjamin Franklin, benjaminfranklinbio.com/benjamin-franklin-as-a-child/131/. Accessed 3 Dec. 2023.*/
    transition: 0.5s;
    background-size:cover;
    box-shadow:5px 5px 5px darkslategrey;
}
.early .question {
    font-family: 'Red Hat Display', sans-serif;
    transition: 0.5s;
    font-size:1.5rem;
    padding:;
}
.early:hover .question {
    transition:0.5s;
    transform:scale(1.2);
}
/*major*/
.major {
    background-image: url(imgs/b.j.-statue.jpg);
    /*Liski, Randy von. “Benjamin Franklin Statue, Franklin Life Insurance, Springfield, Illinois.” Flickr, Yahoo!, 3 Dec. 2023, www.flickr.com/photos/myoldpostcards/52030744257.*/
    transition: 0.5s;
    background-size:cover;
    background-position:center center;
    box-shadow:5px 5px 5px darkslategrey;
}
.major .question {
    font-family: 'Red Hat Display', sans-serif;
    transition: 0.5s;
    font-size:1.5rem;
    padding:;
}
.major:hover .question {
    transition:0.5s;
    transform:scale(1.2);
}
/*sig*/
.sig {
    background-image: url(imgs/b.j.-kite-carousel.jpg);
    transition: 0.5s;
    background-size:cover;
    background-position:center center;
    box-shadow:5px 5px 5px darkslategrey;
}
.sig .question {
    font-family: 'Red Hat Display', sans-serif;
    transition: 0.5s;
    font-size:1.5rem;
    padding:;
}
.sig:hover .question {
    transition:0.5s;
    transform:scale(1.2);
}
/*note*/
.note {
    background-image: url(imgs/b.j.-kite-carousel.jpg);
    transition: 0.5s;
    background-size:cover;
    background-position:center center;
    box-shadow:5px 5px 5px darkslategrey;
}
.note .question {
    font-family: 'Red Hat Display', sans-serif;
    transition: 0.5s;
    font-size:1.5rem;
    padding:;
}
.note:hover .question {
    transition:0.5s;
    transform:scale(1.2);
}
.description {
    box-shadow:5px 5px 5px darkslategrey;
    font-family: 'Dosis', sans-serif;
}
footer {
    font-family: 'Red Hat Display', sans-serif;
}
.video {
    transition: 0.5s;
    box-shadow:5px 5px 5px darkslategrey;
    background-size:cover;
    background-position:center center;
}
.video .question {
    font-family: 'Red Hat Display', sans-serif;
    transition: 0.5s;
}
.video:hover .question {
    transition:0.5s;
    transform: scale(1.2);
}
}