.c-item {
    height:30em;
}
.c-img {
    height: 100%;
    object-fit:cover;
    filter: brightness(0.6);
}
.navbar-brand {
    font-family: 'Homemade Apple', cursive;
    font-size:25px;
}
.nav-link {
    font-family: 'Reenie Beanie', cursive;
    font-size:20px;
    font-weight:bold;
}
/*who*/
.who {
    background-image: url(imgs/b.j.-kite-carousel.jpg);
    transition: 0.5s;
}
.who .question {
    transition: 0.5s;
}
.who:hover .question {
    transition:0.5s;
    transform: scale(1.3);
}
/*early*/
.early {
    background-image: url(imgs/b.j.-kite-carousel.jpg);
    transition: 0.5s;
}
.early .question {
    transition: 0.5s;
}
.early:hover .question {
    transition:0.5s;
    transform:scale(1.2);
}