* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.c-item {
    height:30em;
}
.c-img {
    height: 100%;
    object-fit:cover;
    filter: brightness(0.6);
}
.navbar-brand {
    font-family: 'Red Hat Display', sans-serif;
    font-size:24px;
}
.nav-link {
    font-family: 'Dosis', sans-serif;
    font-size:17px;
    font-weight:bold;
}
/* carousel */
.benji-caro {
    font-family: 'Red Hat Display', sans-serif;
}
.auto-caro {
    font-family: 'Dosis', sans-serif;
}
/*who*/
.who {
    background-image: url(imgs/b.j.-kite-carousel.jpg);
    transition: 0.5s;
    box-shadow:5px 5px 5px darkslategrey;
}
.who .question {
    font-family: 'Red Hat Display', sans-serif;
    transition: 0.5s;
}
.who:hover .question {
    transition:0.5s;
    transform: scale(1.2);
}
/*early*/
.early {
    background-image: url(imgs/b.j.-kite-carousel.jpg);
    transition: 0.5s;
    background-size:cover;
    background-position:center center;
    box-shadow:5px 5px 5px darkslategrey;
}
.early .question {
    font-family: 'Red Hat Display', sans-serif;
    transition: 0.5s;
    font-size:1.5rem;
    padding:;
}
.early:hover .question {
    transition:0.5s;
    transform:scale(1.2);
}
.description {
    box-shadow:5px 5px 5px darkslategrey;
}